<h1>Create a New Team</h1>

<form action="/teams" method="POST">

  <label>Team Name:</label>
  <input  type="text" name="name" id="name"></input>
  <br></br>

  <label>QB:</label>
  <input  type="text" name="qb" id="qb"></input>
  <br></br>

  <label>RB:</label>
  <input  type="text" name="rb" id="rb"></input>
  <br></br>

  <label>WR:</label>
  <input  type="text" name="wr" id="wr"></input>
  <br></br>

  <label>TE:</label>
  <input  type="text" name="te" id="te"></input>
  <br></br>

  <label>Defense:</label>
  <input  type="text" name="defense" id="defense"></input>
  <br></br>

  <label>Kicker:</label>
  <input  type="text" name="kicker" id="kicker"></input>
  <br></br>

  <input type="submit" value="create_team">

</form>
