<h1>Log In Below:</h1>
<form action="/login" method="post">
  username <input type="text" name="username" id="username">
  email <input type="text" name="email" id="email">
  password <input type="text" name="password" id="password">
  Log In <input type="submit" name="submit" id="submit">
</form>
