<h1>Welcome, <%= current_user.username %> to Fantasy Football!</h1>
<a href="/teams">Teams in Your League</a><br></br>
<a href="/teams/new">Create New Team</a><br></br>
<a href="/users">Owner Index</a><br></br>
