<!DOCTYPE html>
<html>
  <head>
    <title>Word Counter</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  </head>

  <body>
    <div class="container">
      <% if logged_in? %>
        <form action="/session" method="post">
          <input type="hidden" name="_method" value="delete" />
          <input type="submit" value="logout">
        </form>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
